.navbar .container-fluid .navbar-nav .nav-but{
    padding:10px;
}
html{
    scroll-behavior: smooth;
}

.navbar-nav .nav-item .nav-link{
    color:grey;
    padding:15px;
    margin-left: auto;
}

.navbar-nav .nav-item .nav-link:hover{
    color:rgb(79, 77, 77);
}

*{
    font-size: medium;
}
.nav-item{
    color: rgb(183, 58, 88);
}

.navbar-brand{
    color: rgb(183, 58, 88);
    
}
.nav-item:hover{
    color:rgb(79, 77, 77);
}

.itsfeatures{
    padding:15px 9%;
    padding-bottom: 100px;
}
.navbar-nav{
    color:rgb(106, 106, 106);
}

.itsfeatures .features_container .feature h3{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.itsfeatures .features-container{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    gap:15px;
}

.itsfeatures .features-container .feature{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
    /* background:linear-gradient(45deg, blueviolet, lightgreen); */

}

.itsfeatures .features-container .feature img{
    height: 80px;
}



#about{
    padding:50px;
    margin-bottom: 20px;
}

.home{
    height:500px;
    
}
.home .container{
    text-align: center;
    margin-top: 100px;
}
.home .container h1{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}
.home .container p{
    font-size: 30px;
    color:rgb(104, 102, 102);
    margin-bottom: 30px;
}
.home .container .red{
    text-decoration: none;
}
.btn{
    background-color: rgb(183, 58, 88);
    border: none;
    color:#fff;
    
}
.btn:hover {
    background-color: #ac3857; /* Set the new background color on hover */
    color:black;
  }